<!DOCTYPE html>
<html>
  <head>
    <title>RegzChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>    
            <%= render partial: 'shared/navigation_bar' %>
            <%= yield %>          
            <%= render partial: 'shared/footer' %>
  </body>
</html>
